#body{
  margin:auto;
  width:80%;
}
.bullet-point-tile{
  background-color:#ffff8d;
}
.explain{
  margin-top:2%;
}
.outlined{
  border:solid 1px grey;
  border-radius:10px;
}
.curved{
  border-radius:10px;
}
.lower-space{
  margin-bottom:4%;
}
.contact-form{
  width:60%;
  float:left;
  padding:2%;
}
.right-pull{
  float:left;
  width:32%;
  margin:3%;
}
.footer{
  float:left;
}
